<div class="col-xs-12">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Valor</th>
      <th>Status</th>
      <th class="table-actions">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="debt in bcCtrl.billingCycle.debits">
      <td>
        <input type="text" ng-model="debt.name" class="form-control" placeholder="Informe o Nome" ng-readonly="bcCtrl.tabDelete"/>
      </td>
      <td>
        <input type="number" ng-model="debt.value" class="form-control" placeholder="Informe o Valor" ng-readonly="bcCtrl.tabDelete"/>
      </td>
      <td>
        <select class="form-control" ng-model="debt.status" ng-readonly="bcCtrl.tabDelete">
          <option value="0">Informe o Status</option>
          <option value="PAGO">Pago</option>
          <option value="PENDENTE">Pendente</option>
          <option value="AGENDADO">Agendado</option>
        </select>
        <!--<input type="text" ng-model="debt.status" class="form-control" placeholder="Informe o Status" ng-readonly="bcCtrl.tabDelete">-->
      </td>
      <td>
        <button type="button" class="btn btn-success" ng-class="{disabled: bcCtrl.tabDelete}" ng-click="bcCtrl.addDebt($index)"><i class="fa fa-plus"></i></button>
        <button type="button" class="btn btn-warning" ng-class="{disabled: bcCtrl.tabDelete}" ng-click="bcCtrl.addDebt($index, debt)"><i class="fa fa-clone"></i></button>
        <button type="button" class="btn btn-danger" ng-class="{disabled: bcCtrl.tabDelete}" ng-click="bcCtrl.addDebt($index)"><i class="fa fa-trash-o"></i></button>
      </td>
    </tr>
  </tbody>
</table>
</div>
